<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/insedtclientes/<%= doc._id %>"  method="POST">
      <p>cpf:<input type="text" name="cpf" value="<%= doc.cpf %>" /></p>
      <p>nome:<input type="text" name="nome" value="<%= doc.nome %>" /></p>
      <p>cep<input type="text" name="cep" value=" <%= doc.cep %>"/></p>
      <input type="submit" value="Salvar" />
    </form>
  </body>
</html>